<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723781297499-m41idbchttl291ampa73sdpjaplrhac9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723781297499-m41idbchttl291ampa73sdpjaplrhac9</string>
	<key>API_KEY</key>
	<string>AIzaSyCALsbwRqyhVcxgWU8_FyZd059XnFq5ajU</string>
	<key>GCM_SENDER_ID</key>
	<string>723781297499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locatic</string>
	<key>PROJECT_ID</key>
	<string>locatic-3d072</string>
	<key>STORAGE_BUCKET</key>
	<string>locatic-3d072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723781297499:ios:c9acbe2ef55c0533d7a67e</string>
</dict>
</plist>